/* body {
  margin: 0;
  font-size: 16px;
  background-color: #EBF3E8;
  background-color: white;
  font-family: "Yeseva One", serif;
} */

* {
  margin: 0;
  font-size: 16px;
  font-family: "Yeseva One", serif;
}
